/* title text */

div.title_text {
	width: 100%;
	height: 80px;
	text-align: center;
}

div.title_source {
    font-size: 16px;
	color: white;
	text-shadow: 0 0 4px black;
}

div.title_article_name {
	font-size: 24px;
	color: white;
	text-shadow: 0 0 4px black;
}

/* place text */

span.word_holder {
  position: relative;
  z-index: 1;
}

span.word_holder:hover {
  background-color: yellow;
  cursor: pointer;
  z-index: 2;
}

span.original_word {
	
	
}

span.trans_word_positioner {
	display: none;
	position: absolute;
	top: 1.8em;
	font-size: 12px;
	width: 100%;
	text-align: center;
	line-height: 100%;
}

span.trans_word {
	white-space: nowrap;
	background-color: lightBlue;
	border-radius: 4px;
	padding: 4px;
	font-weight: normal;
}

span.trans_word_tip {
	display: block;
	color: lightBlue;
	line-height: 14px;
}

/* whole page */

body {	
  background-color:#EEEEEE;
  background: #EEEEEE url("header.png") repeat-x;
}

div.center_column  {
	margin: auto;
	width: 980px;
}

div.not_implemented_message,
div.place_text,
/*div.wordlist,*/
div.content_area {
	padding: 20px;
	background-color: white;
	border-radius: 10px;  /* TODO: need to add all the other browsers' taggies */
	box-shadow: 0 0 4px #666;	
	min-height: 250px;
}

div.header {
  height:75px;
  margin-bottom: 20px;
  width: 929px;
  margin-left: 10px;
  margin-top: 10px;	
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 11px;
}	


div.wordlist {
	display: inline-block;
	vertical-align: top;
	width: 160px;
	/*height: 600px;*/
	margin-left: 16px;
}

div.wordlist_header {
	text-align: center;
	font-weight: 800;
	margin-bottom: 7px;
}

div.place_text {
	/* width: 700px;*/
	width:960px;
	display: inline-block;
	margin-left:10px;
	line-height: 350%;
}

/* header and footer */

img.header_logo {
	height: 60px;
}

a.footer_link,
a.header_link {
	text-decoration: none;
	font-size: 14px;
}

a.header_link {
	text-shadow: 0 0 4px black;
	margin-right: 20px;
	margin-top: 10px;
	float: right;
	margin: 10px;
	display: inline-block;
	vertical-align: top;	
    color: #DDD;
}

a.footer_link {
	padding: 20px;
	color: #666;
}

div.footer {
  height:75px;
  margin-bottom: 20px;
  width: 920px;
  margin-left: 10px;
  margin-top: 10px;	
  padding: 20px;	
  text-align: center;
}



/* not-implemented.php */

div.not_implemented_message {
	margin-left:10px;
	margin-top:10px;
	width:920px;
}
